@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Raleway&display=swap');

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans Condensed', sans-serif;
	color: white;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
